<!DOCTYPE html>
<html>
  <head>
    <title>Open Data Button</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <style type="text/css">
      span.entry-votes { float:right; width:auto; display:inline-block; }
      .entries li { border-bottom: 1px solid #ccc; margin-bottom: 1em; list-style-type: none; }
      .feed h2 { text-decoration: underline; } .feed ul { padding:0; }
    </style>
  </head>
  <body>
     <div class="navbar navbar-inverse navbar-fixed-top hidden">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <img src="{{ url_for('static', filename='open-data-button.png') }}" align="left" style="margin-top: 1em; margin-right: 1em;">
        <h1>Open Data Button</h1>
        <p>This <a href="http://make.opendata.ch/legal" target="_blank">Law Mining Hackathon</a> project started at <a href="http://okcon.org" target="_blank">OKCon 2013</a> aims to help lift legal and technical restrictions on data, and get rapid community response to changes in terms of use. The Open Data Button is an easy, social way to share the fact that you are prevented from accessing data in some way.</p>
        <p>To get started, simply drag this button up to your browser's bookmark bar:</p>
        <p style="text-align:center"><a class="btn btn-primary btn-lg" href="javascript:if(location.protocol=='https:'){return window.alert('Sorry, HTTPS websites are not yet supported by the Open Data Button :(');} document.getElementsByTagName('body')[0].appendChild(document.createElement('script')).setAttribute('id','odb-bkmlt');document.getElementById('odb-bkmlt').setAttribute('src','{{ url_for('bookmarklet', _external=True) }}');">Open This Data!</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4" style="background:lightyellow">
          <h3>Goals</h3>
          <ol>
          <li style="text-decoration:line-through">Make an easy way of sharing data restrictions</li>
          <li>Visualize the “not-so-open-data map”</li>
          <li>Connect people to next steps: <a href="http://www.isitopendata.org/" target="_blank">Is It Open Data?</a>, <a href="https://github.com/mysociety/alaveteli/wiki/List-of-foi-websites-and-projects" target="_blank">Freedom of Information</a> requests, etc.</li>
          </ol>
          <a href="http://make.opendata.ch/wiki/project:legal:opendatabutton" target="_blank">
            <img src="http://opendata.utou.ch/alps/res/opendata_logo2.png" style="float:left;height:1.2em;margin:0 .5em 0 1.1em"> 
          </a>
          Visit the 
          <a href="http://make.opendata.ch/wiki/project:legal:opendatabutton" target="_blank">
            project wiki 
          </a>
          for more information.
          <br clear="all">
          <a href="https://github.com/loleg/OpenDataButton" target="_blank">
            <img src="http://opendata.utou.ch/alps/res/github-256-black.png" style="float:left;height:1.2em;margin:0 .5em 0 1.1em"> Source code
          </a> and <a href="https://github.com/wfyson/OpenDataButton/issues">issues</a> on GitHub.
          <br><br>
        </div>
        <div class="col-lg-8 feed">
          <h2>Latest clicks</h2>
          <ul class="entries">
          {% for entry in entries %}
            <li>
              <span class="entry-votes">
                &#9733; <b>{{ entry.votes }}</b>
                <a class="btn btn-default vote" href="#" data-entry-id="{{ entry.id }}">
                  Vote!
                </a>&nbsp;<a class="btn btn-info discuss" href="https://twitter.com/intent/tweet?button_hashtag=opendata&text=I think data from '{{ entry.title|safe }}' should be more open, do you? {{ url_for('index', _external=True) }}entry/{{ entry.id }}" target="_blank">
                  Tweet!
                </a></span>
              <a name="{{ entry.id }}"></a>
              <b>{{ entry.title|safe }}</b>
              <i>{{ entry.time|timesince }}</i>
              <p><a href="{{ entry.url|safe }}" target="_blank" class="entry-title">
                {{ entry.url|safe }}</a></p>
              <p>This data is not open enough for 
                <span class="entry-{{ entry.reason }}">
              {{ entry.reason }} reasons</span> in the context of
                <span class="entry-{{ entry.context }}">
                  {{ entry.context }}
                </span> 
                usage.</p>
            </li>
          {% else %}
            <li><em>Unbelievable.  No entries yet!</em></li>
          {% endfor %}
          </ul>
       </div>
      </div>
   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('ul.entries li a.vote').click(function(ev) {
            var self = this;
            var formdata = {
                "id": $(this).attr('data-entry-id')
            };
            $.post(
                '{{ url_for('vote') }}', 
                formdata,
                function(d) { 
                  var votes = JSON.parse(d).votes;
                  var v = $(self).html('Thanks!')
                    .removeClass('btn-success')
                    .addClass('btn-success disabled')
                      .parent().find('.entry-votes b');
                  v.html(votes);
                }
            );
            ev.preventDefault();
            return false;
          });

// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/5LYTfyPKWQeedLseqAEYA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#448dd6',
  trigger_color: 'white',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id', { mode: 'contact' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
  </body>
</html>
